/* .wrapper {
  width: 310px;
  height: 412px;
  padding: 10px;
  background: #FFE6B5;
  border: 1px solid rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.45);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  
  background-color: inherit;
  border: 1px solid black;
}

textarea {
  display: block;
  width: 300px;
  height: 300px;
  margin-bottom: 10px;

  resize: none;
  background-color: inherit;
  border: 1px solid black;
}

.modified-date {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  font-style: italic;
}

.add-btn {
  display: block;
  float: right;
  width: 60px;
  height: 30px;
} */

/* ===== v2 ===== */
@font-face {
  font-family: "KyoboHand";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

div,
p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

.paper-area {
  font-family: "kyobohand";
  font-size: 15px;
  width: 258px;
  height: 310px;
  min-height: 300px;
  background: #f8bbd0;
  border-radius: 17px;
}

.memo-head {
  position: relative;
  height: 34px;
  padding: 14px 14px 0;
  line-height: 34px;
  border-bottom: 1px solid #c990a3;
}

.memo-head .square {
  background: #c990a3;
  width: 20px;
  height: 20px;
  min-height: 20px;
  float: left;
  margin-right: 15px;
}

.memo-head .square:last-child {
  margin: 0px;
}

.memo-area {
  height: 230px;
  padding: 14px 20px 0 14px;
  box-sizing: border-box;
}

.memo-area textarea,
.memo-area .memo-contents {
  width: 100%;
  height: 206px;
  font-family: "kyobohand";
  color: #503941;
  font-size: 15px;
  background-color: inherit;
  border: none;
  resize: none;
  outline: none;
  padding: 0;
}
.memo-area textarea::placeholder {
  color: #c990a3;
  font-size: 15px;
}

.memo-footer {
  /* width: ; */
  height: 31px;
  padding: 0 14px;
  position: relative;
}

.update-time {
  display: inline-block;
  line-height: 26px;
}

.edit-area {
  display: inline-block;
  line-height: 26px;
  position: absolute;
  top: 0;
  right: 11px;
}

.save-btn {
  display: inline-block;
  color: inherit;
  border: 1px solid #ca8ea2;
  background-color: #f4e8ec;
  border-radius: 8px;
  height: 26px;
  cursor: pointer;
  padding: 0 4px;
}

.save-btn img {
  vertical-align: text-bottom;
  margin-right: 3px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
}

.star-btn,
.edit-btn,
.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 28px;
  height: 18px;
  vertical-align: middle;
}
.star-btn {
  background: url("../image/star.png") center no-repeat;
}
.star-btn.on {
  background: url("../image/star_filled.png") center no-repeat;
}
.edit-btn {
  background: url("../image/eraser.png") center no-repeat;
}
.delete-btn {
  background: url("../image/bin.png") center no-repeat;
}
